<nav class="navbar">

  <a
    class="navbar-brand"
    routerLink="/"
    aria-label="Obiettivo Sbloccato: Matrimonio - Home"
  >
    <span class="brand-symbol">✦</span>

    <span class="brand-text">
      Obiettivo Sbloccato: Matrimonio
    </span>
  </a>


  <div class="navbar-links">

    <a routerLink="/">
      Home
    </a>

    <a routerLink="/giornata">
      La giornata
    </a>

    <a routerLink="/location">
      Location
    </a>

    <a routerLink="/come-arrivare">
      Come arrivare
    </a>

    <a routerLink="/dove-dormire">
      Dove dormire
    </a>

    <a routerLink="/testimoni">
      Testimoni
    </a>

  </div>


  <a
    class="navbar-rsvp"
    routerLink="/"
    fragment="rsvp"
  >
    RSVP
  </a>

</nav>